@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat');
* {
  font-family: 'Raleway';
}
h5 {
  font-size: 15px !important;
}
.left-column {
 float: left;
}
.right-column {
  float:left;
  position: fixed;
  min-height: 800px;
  min-width: 1150px;
  margin-left: 345px;
  border: solid black 1px;
}

.usersList {
  padding: 0;
  width: 100%;
}
.user-info {

  padding: 0;

}
.User {
  display: flex;
  align-items: center ;
  font-family: sans-serif;
  width: 100%;
  padding: 5px;
  border-bottom: 1px solid grey;
}

.search-user {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.user-avatar {
  border-radius: 50%;
  margin: 5px;
}
.user-name {
  font-size: 18px;
  font-weight: bold;
}
.user-job {
  font-size: 16px;
  font-family: 'Lato';
}
. u
.users {
  width: 315px;

}

.user-detail {
  padding: 47px;
}
.user-detail-img {
  float: left;
  padding-right: 30px;
  min-height: 300px;
}
.user-detail-text {
  margin-top: -9px;
}
.user-detail-text h1 h2 h3 h4 {
  border-bottom: 1px solid grey;
  font-size: 15px;
  font-family: 'Montserrat';
}
.user-detail-text h3 h4 {
  border-bottom: 1px solid grey;
  font-size: 15px;
  font-family: 'Lato';
}
